.logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-icon {
  width: 170px;
  height: 92px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  margin-right: 30px;
}
 .logotipes:hover,
 .logotipes:focus {
  fill: #2196F3; 
  background-color: white;
 }

 .logo-icon:hover,
 .logo-icon:focus { 
  border: 1px solid #2196F3;
}
.logo-icon:last-child {
  margin-right: 0;
}