.second-title {
  @extend %position-center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  margin-bottom: 50px;
}
.list-mission {
  display: flex;
  justify-content: space-between; 
}  
.item-mission {
  position: relative;
  &__product-action {
    position: absolute;
    @extend %position-center;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    color: $one-color;
    background: rgba(47, 48, 58, 0.8);
  }
}