.logo-item {
  @extend %position-center;
}
.logo-icon {
  width: 170px;
  height: 92px;
  fill: $light-gray;
  border: 1px solid $light-gray;
  border-radius: 4px;
  margin-right: 30px;
}
.logotipes:hover,
.logotipes:focus {
fill: $light-blu; 
background-color: $one-color;
}

.logo-icon:hover,
.logo-icon:focus { 
border: 1px solid $light-blu;
}
.logo-icon:last-child {
  margin-right: 0;
}