.social {
  @extend %position-center;
  margin-bottom: 30px;
}
.social-link {
  margin-right: 10px;
  &__btn {
  @extend %position-center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $light-gray;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon {
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.social-link__btn:hover,
.social-link__btn:focus, 
.social-link__icon:hover,
.social-link__icon:focus {
  background-color: $light-blu;
  fill: $one-color;
}
.social-link:last-child {
  margin-right: 0;
}