.sub-footer {
  margin-left: 130px;
}
.sub-footer {
  color: #2196F3;
}
.div-sub-form {
  margin-top: 20px;
}
.form-sub {
  display: flex;
}
.footer-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.input-sub {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #fff;
}
.button-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 12px;
  padding: 10px 28px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.icon-telegram {
  padding-left: 10px;
}