.users {
  margin-left: 70px;
}
.klients {
   color: $one-color;
}
.soc-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  &:last-child {
  margin-right: 0;
  }
}
.btn-footer {
  @extend %position-center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $one-color;
  background-color: rgba(255, 255, 255, 0.1); 
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $light-blu;
    fill: $one-color; 
  }
}
.footer-icon {
  fill: $color;
  @extend %position-center;
}
